@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
	box-sizing: border-box;
}

body {
	background-color: #eafbff;
	background-image: linear-gradient(
		to right,
		#eafbff 0%,
		#eafbff 25%,
		#5290f9 50%,
		#5300ff 100%
	);
	font-family: "Muli", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}
